/* フォントサイズにあわせた行間 */
html {
  line-height: 1.5;
}

/* boxサイズをスタイルしやすく調整 */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}

/* リストの表示をしない */
li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}